//Tipografica
$fuente_principal: 'Outfit', sans-serif;
// colores
$negro: #000000;
$blanco: #ffffff;
// Colores principales
$azul: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);
$bg-azul: hsl(217, 54%, 11%);
$bg-cad: hsl(216, 50%, 16%);
$line: hsl(215, 32%, 27%);

$movil: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;
